.LoginTitle {
    text-align: center;
}

.CheckBoxRemember {
    font-weight: bold;
}

.ForgotPasswordButton {
    margin-top: 10px;
}

.CreateAccountButton {
    margin-top: 10px;
}

@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

        .Login form {
            margin: 0 auto;
            max-width: 320px;
        }
}
